@model IEnumerable<task_manager.Data.Entity.Task>

@{
    ViewData["Title"] = "Listado de tareas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-new-task text-white">Nueva Tarea</button>
    </a>
</p>
<table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td class="td-btn-action">
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-action text-white">Editar</button></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-action text-white">Detalles</button></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-action text-white">Eliminar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>

